---
layout: single
share: false
classes:
  - landing
---

<h1>Welcome!</h1>

<p>
I am an assistant professor at Université de Sherbrooke (Québec) Canada, doing
research in robotics.
My main interests are in human-robot interaction, software architectures for
autonomous and distributed intelligent systems, and perception for collaborative
robots at home and at work.
</p>

<p>
I am a member of <a href="http://introlab.3it.usherbrooke.ca">IntRoLab</a> at the
Interdisciplinary Institute for Innovation (3IT).
</p>

You can learn about my ongoing research here, and feel free to contact me if you
have any questions!

<h3 class="archive__subtitle">Recent Updates</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
